<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}
	<main>
    <h1 class="editable">foo bar</h1>
		<article class="editable"><p>Lorem ipsum dolor sit amet, amet mi, et consectetuer, porta a mattis. Cras consectetuer in sit placerat sit scelerisque, adipiscing ultrices turpis nulla, luctus adipiscing metus id. Pulvinar massa sed. Rutrum ultricies aliquam mi justo sed interdum. Ut quam vel adipiscing eu platea, a voluptas, ac semper augue feugiat vel arcu nam, dolor numquam varius lorem, est mauris et morbi maecenas tellus. Erat in, scelerisque aliquet, augue nibh ad justo, augue cum. Praesent est, maecenas consectetuer ante dui. Mauris proin quas iaculis.</p></article>
		{% include footer.html %}
	</main>
</body>

</html>
